.admin-dashboard {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.form-container {
    margin: 20px 0;
}

.event-item {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.admin-container {
  display: flex;
}
